.contain {
    min-width: 600px;
    max-width: 850px;
    width: 100%;
    margin-right:  22rem;
    box-sizing: border-box;
    padding: 0 0rem;
}

.overview {
    width: 90%;
    height: 400px;
    background: linear-gradient(to bottom, #f5f7fa 0%, #c3cfe2 50%, #a1c4b0 100%);
    border-radius: 12px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.08);
    padding: 2.5rem;
    margin-right: 1rem;
    min-height: 65vh;
}
@media (max-width: 1024px) {
    .contain {
        margin-right: 5rem;
        min-width: auto;
    }
}

@media (max-width: 768px) {
    .contain {
        margin-right: 1rem;
        padding: 0 1rem;
        min-width: 90%;
    }

    .overview {
        width: 100%;
        padding: 1.5rem;
    }
}

@media (max-width: 480px) {
    .contain {
        margin-right: 20rem;
        padding: 0 0.75rem;
        min-width: 50%;
        max-width: 50%;
    }

    .overview {
        padding: 1rem;
        width: 100%;
    }
}
