/* Footer Container */
.footerContainer {
    background-color: linear-gradient(to bottom, #8ab3a9 0%, #87c2bc 50%, #a1c4b0 100%);
    color: black;
    text-align: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 20px 0;
}

.footerContent {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 20px;
}

.section {
    flex: 1 1 200px; 
    margin: 10px;
    color: white;
    text-align: left;
}

.footerBottom {
    margin-top: 20px;
    padding-top: 10px;
    position: relative;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px 0;
}

/* Border that doesn't touch edges */
.footerBottom::before {
    content: "";
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    height: 1px;
    background-color: #444;
}

.footerContainer a:hover {
    text-decoration: underline;
}