/* Login form container */
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

form div {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
  color: black;
}

input {
  padding: 10px;
  border: 1px solid #28c9bc;
  border-radius: 6px;
  font-size: 1rem;
  outline: none;
}

input:focus {
  border-color: #40b99b;
  box-shadow: 0 0 0 2px rgba(75, 108, 183, 0.2);
}

/* Password toggle button */
form button[type='button'] {
  margin-top: 5px;
  align-self: flex-start;
  background-color: transparent;
  border: 1px;
  color: white;
  height: 50%;
  width: 20%;
  font-weight: bold;
  cursor: pointer;
  background-color: rgb(49, 165, 138);
  padding: 0;
}

form button[type='button']:hover {
  text-decoration: underline;
}

/* Submit button */
form button[type='submit'] {
  background-color: #73b2b9;
  color: #fff;
  border: none;
  padding: 10px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

form button[type='submit']:hover {
  background-color: #46d9cb;
}

/* Message styles */
p {
  font-size: 0.95rem;
}

p a {
  color: #4b6cb7;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}
