.sidebar {
    width: 250px;
    background-color: #343a40;
    color: #fff;
    padding: 15px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin: 15px 0;
    display: flex;
    align-items: center;
}
