name: Deployment to production

on:
  workflow_run:
    workflows: ["frontend ci", "Backend CI"] 
    branches: [main]
    types:
      - completed

permissions:
  checks: write
  contents: read
  pull-requests: write

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    concurrency: production-deploy

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Trigger Render Deploy
        run: |
          curl -X POST "$RENDER_DEPLOY_HOOK"
        env:
          RENDER_DEPLOY_HOOK: ${{ secrets.RENDER_DEPLOY_KEY }}

      - name: Deploy to Firebase
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: ${{ secrets.ACESS_TOKEN }} 
          firebaseServiceAccount: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_E_BANKING_TECH_61D82 }}
          projectId: e-banking-tech-61d82
          entryPoint: client
      
      