name: frontend ci

on:
    push:
        branches: [ developer ]
        paths: ['client/**', 'docker-compose.yml']
    pull_request:
        paths: ['client/**', 'docker-compose.yml']

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/setup-node@v3
              with:
                node-version: 20.x
                cache: npm
                cache-dependency-path: client/package-lock.json

            - uses: actions/checkout@v4
              with: 
                fetch-depth: 0
            - name: Install and build client side
              working-directory: ./client
              run: |
                npm ci --legacy-peer-deps
                npm ls react-scripts
                npm run build
            
            - name: Docker Compose build (client only)
              run: docker compose build payment-client

            - name: Deploy Firebase Preview
              if: github.event_name == 'pull_request'
              uses: FirebaseExtended/action-hosting-deploy@v0
              with:
                repoToken: ${{ secrets.GITHUB_TOKEN }}
                firebaseServiceAccount: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_E_BANKING_TECH_61D82 }}
                projectId: e-banking-tech-61d82
                entryPoint: client
                channelId: pr-${{ github.event.pull_request.number }}